<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quiz</title>
  </head>
  <body>
    <h1>PROVE YOUR KNOWLEDGE!</h1>
    <form action="/answer" method="post">
      <h2> <%= @question %></h2>
      <button type="submit" name="answer"></button>
      <button type="submit" name="answer"></button>
      <button type="submit" name="answer"></button>
      <button type="submit" name="answer"></button>
    </form>
  </body>
</html>
